<!DOCTYPE html>
<html lang="en"data-theme="synthwave">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Compression</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script> 
</head>
<body class="min-h-screen flex justify-center items-center">
    <div class="max-w-lg w-full p-8">
        <div class="text-center mb-6">
        <h1 class="text-3xl text-center font-bold">Audio Compression</h1>
        <span class="text-center">Kompresi Audio</span>
        </div>
        <form action="/compress-audio" method="post" enctype="multipart/form-data" class="mb-8">
            <label for="image" class="block mb-2">Upload Audio:</label>
            <input type="file" name="audio" id="audio" accept="audio/*" class="file-input file-input-bordered file-input-accent w-full" required>
            <div class="flex justify-between items-center">
                <label for="quality" class="block my-2">Quality:</label>
                <span id="quality-value">80%</span>
            </div>
            <input type="range" min="0" max="100" value="80" class="range" name="quality" id="quality" required>
            <button type="submit" class="mt-4 btn btn-active btn-accent w-full text-accent hover:text-white">
                Compress
              </button>
        </form>
        {% if original_audio %}
        <div class="divider">Results</div>
        <div class="flex flex-row items-center justify-center gap-10">
            <div class="">
                <h2 class="font-bold mb-2">Original Audio</h2>
                <div class="indicator">
                    <span class="indicator-item badge badge-primary">Original</span>
                    <audio controls>
                        <source src="{{ original_audio }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <p>Size: {{ original_size }}</p>
            </div>
            <div>
                <h2 class="font-bold mb-2 ps-2">Compressed Audio</h2>
                <div class="indicator">
                    <span class="indicator-item badge badge-primary">-{{ compression_ratio }}%</span>
                    <audio controls>
                        <source src="{{ compressed_audio }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <p>Size: {{ compressed_size }}</p>
            </div>
        </div>
        <div class="mt-2 text-center" >
            <a href="{{ compressed_audio }}" download="compressed_audio.mp3" class="btn btn-active btn-success w-full">Download</a>
        </div>
        {% endif %}
    </div>
    <script>
        const qualityRange = document.getElementById('quality');
        const qualityValue = document.getElementById('quality-value');
        qualityRange.addEventListener('input', () => {
            qualityValue.textContent = `${qualityRange.value}%`;
        });
    </script>
</body>
</html>
